<!DOCTYPE html>
<html>
  <head>
    <title>SIBS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome SIBS Integration example</p>
    <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=<%= checkoutId %>"></script>
    <form action="/result" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
  </body>
</html>
